.cast-reel {
  
  h1{
    font-size: 19px ;
    font-weight: 600;
    font-family: "Source Sans Pro", Arial, sans-serif;
    margin-top: 25px;
    margin-left: 37px;
  }

  .container{
    width:980px;
    display: flex;
    padding: 20px;
    margin-left: 7px;
    overflow-x: scroll;
  }

  .view-more {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 135px;

    p{
      display: flex;
      color: rgb(10, 10, 10);
      font-weight: 700;
      font-family: "Source Sans Pro", Arial, sans-serif;
      cursor: pointer;
    }

    p :first-child{
      font-size: 20px;
    }
    
  }
  ::-webkit-scrollbar {
    height: 9px;
  }
  
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  box-shadow: 0 0 2px rgb(196, 194, 194); 
}
 
::-webkit-scrollbar-thumb {
  background: rgb(168, 166, 166); 
  border-radius: 10px;
}
