
.movie-details-sidebar{
  position: absolute;
  width: 310px;
  right: 0;
  top:650px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 18px;
  background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 16%);
padding-left: 100px;
padding-bottom: 50px;
  h2,h3{
    font-weight: 600;
  }

  h2 {
    margin: 10px 0 ;
  }

  p{
    margin-top: 5px;
  }

  ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
  }

  li{
    font-size: 28px;
    color:#262626;
    cursor: pointer;
  }

  img{
    width:30%;
    margin-top: 5px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto);
    row-gap: 20px;
  }

  span{
    font-size: .9em;
    background-color: rgb(226, 226, 226);
    padding: 4px 9px;
    width: fit-content;
    border-radius: 4px;
    text-transform: lowercase;
    border: 1px solid rgba(189, 189, 189, 0.541);
    margin-right: 5px;
    margin-top: 7px;
    cursor: pointer;
  }

  .keywords{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    font-weight: 600;
    font-size: .9em;
    color:rgb(59, 59, 59);
  }
}